section.routes {
    background: var(--linearbg);
    padding: var(--margin) 0;
}

.btns-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.btn-direction {
    box-sizing: border-box;
    border: 2px solid #3E6E41;
    background: transparent;
    color: #3E6E41;
    padding: 7px 35px;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}
.btn-dir-active {
    background: #3E6E41;
    color: #D6E4D7;
}

.routes #form {
    padding: 0 var(--margin);
}

.routes .routes-list.result-list {
    padding: 0 var(--margin);
}

.result-list.routes-list li > span:nth-child(1) {
    flex: none;
    border: 1px solid #3E6E41;
    padding: 2px;
}